html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif; 

}

:root{
    --main-color:#0a3641;
    --second-color: #fff;
    --third-color: #d9d9d9;


    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 3rem;


}

@media (min-width: 600px){
    :root{
        --fs-s: 1.5rem;
        --fs-m: 2rem;
        --fs-l: 4rem;
    }
}

@media (min-width: 820px){
    :root{
        --fs-s: 2rem;
        --fs-m: 2.5rem;
        --fs-l: 5rem;
    }
}

.text-center{
    text-align: center;
}


.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
}

.cc-img{
    background-position: center;
background-size: cover;
}

.bold{
    font-weight: bold;
}



/******* Index ********/


/* Header */

header{
    background-color: var(--second-color);
    justify-content: space-between;
    height: 50px;
    align-items: center;
    box-shadow: 0px 0.3px 8px #666;
    position: sticky;
    top: 0;
    /* right: 0; */

}



#menubar, nav{
    display: none;
}
#menubar:checked ~ nav{
    display: block;


}
nav{
    background-color: var(--second-color);
    position: absolute;
    margin-left: -3rem;
}
.nav-bar{
    margin-left: 3rem;
}


nav a{
    display: block;
    color: var(--main-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0 0 0;
    transition: 0.5s;
       
}
nav a:hover{
    font-size: 2.5rem;
}


.fa-bars{
    color: var(--main-color);
    font-size: 2rem;
}

@media (min-width: 600px){
    nav{
        display: block;
        position: static;
    }
    /* .fas{
        display: none;
    } */
    nav a{
        margin-bottom: 0.5rem;
        display: inline-block;
    }
    #menubar{
        display: none;
    }
    .logo{
        order: -1;
        
    }
    .menu-label{
        display: none;
    }
}







.logo{
    max-height: 40px;
    margin: 0 2%;
 
}
.fa-solid{
  color: var(--main-color);
  font-size: 2rem;
  margin-right: 3rem;
}


/******* main ********/


.head-photo{
background-image: url(/images/mainimgs.jpg);
width: 100vw;
height: 25vh;
margin-bottom: 10%;
}

.gender{
    flex-direction: column;
    margin: 10%;
    overflow: hidden;
}


.woman-container, .man-container{    
    width: clamp(20vw, 50vw, 50vw);
    aspect-ratio: 1;
    text-decoration: none;

}
.man-container{
    background-image: url(/images/manimg.jpg);

}
.woman-container{
    background-image: url(/images/womanimg.jpg);

}

.text-woman, .text-man{
    position: relative;
    top: 60%;
    left: 40%;
    color: var(--second-color); 
    text-align: center;
    font-weight: bold; 
    font-size: 5vw;
}
.text-woman{
    left: 30%;
}


.woman, .man{    
    width: 50vw;
    margin-bottom: 5%;
}

.newinstock{
    text-align: center;
    font-size: var(--fs-l); 
    color: var(--main-color);
    
}

.jackets-home{

    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}


.nis{
    width: 20vw;
    height: clamp(10vw, 20vw, 30vw);
    margin-left: 8vw;
    margin-right: 8vw;
    display: inline-block;
    
}


.nis-1{
    background-image: url(/images/jacket1rs.png);
}
.nis-2{
    background-image: url(/images/jacket2rs.png);
}
.nis-3{
    background-image: url(/images/jacket3rs.png);
}
.nis-4{
    background-image: url(/images/jacket4rs.png);
}

@media (min-width: 820px){
    .gender{
        flex-direction: row;
        margin: 5%;
        gap: 20px;

    }




}

/******** footer *******/


footer{
    margin-top: 2rem;
    background-color: var(--main-color);
    /* width: 100vw; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;



}

.sm-header{
    margin-bottom: 0.5rem;
    font-size: var(--fs-m);
}

.sm{
    color: var(--second-color);
    margin: 1rem;

}

.sm-text{
    text-align: center;
    margin: 0;
    font-size: var(--fs-s);
    
}
.twitter{
    margin-bottom: 0.5rem;
}

.logo-footer{
    background-image: url(/images/Group.png);
    margin: 1rem;
    width: 25vw;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* aspect-ratio: 1/1; */
     
}
.newsletter{
    color: var(--second-color);
    /* margin-bottom: 1rem; */
    font-size: var(--fs-m);
}

.nl-input{
    width: 25vw;
    height: 3vh;
}



/******* Jackets ********/


.product-frame{
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(1fr, 3);
justify-items: center;
align-items: center;
margin: 0 10% 15% 10%;
gap: 5%;

}
.product{
    /* box-shadow: 0px 0px 2px #666;
    padding: 25px; */

}

.product-img{
    width: 25vw;
}



.product-text p{
    margin: 0;
    font-size: var(--fs-m);
    /* text-decoration: none;      a tag over div, what to do WHY*/  

}

@media (min-width: 820px){

    .product-frame{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1fr, 2);
        justify-items: center;
        align-items: center;
        margin: 0 10% 15% 10%;
        gap: 10%;
        
        }
        .product-img{
            width: 20vw;
        }       


}


/******* Jacket *********/

.scott-jacket{
    background-image: url(/images/jacket4rs.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    aspect-ratio: 1;
    margin: 10% 0;


}
.jacket-wrapper{
    flex-direction: column;
}

.scott-text-section{
    font-size: var(--fs-m);
margin-left: 10%;
margin-right: 10%;
}
.add-button{
    background-color: var(--main-color);
    width: 30vw;
    height: 5vh;  
}
.add-text{
    color: var(--second-color);
    text-decoration: none;
}
.scott-header{
    margin-bottom: 0;
}
.scott-price{
    margin-top: 0;
}
.size{
    background-color: var(--third-color);
    width: 15vw;
    height: 3vh;
}

@media (min-width: 600px){
    .jacket-wrapper{
        flex-direction: row;
    }
    .scott-jacket{
        margin-left: 10%;
    }
}

/******* About ********/

.about-wrapper{
    flex-direction: column;

}

.about-img{
    background-image: url(/images/aboutimg.jpg);
    width: 100%;
    height: 50vh;

}

.about-text-wrapper{
    flex-direction: column;
    margin: 0 10%;
}

.our-story{
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-l);
    margin-bottom: 0;
}

@media (min-width: 600px){
    .about-wrapper{
        flex-direction: row-reverse;

    }
    .about-img{
        margin-top: 5%;
        margin-right: 10%;
        width: 40vw;

    }
    .about-text-wrapper{
        max-width: 45vw;
    }

}


/********* Checkout **********/

.cr{
    color: var(--main-color);
    font-size: var(--fs-l);
}
.cr-wrapper{
    flex-direction: column;
    gap: 5%;

}
.fa-regular{

    justify-content: flex-end;
}

.item-1-img{
    background-image: url(/images/jacket3rs.png);
}

.item-2-img{
    background-image: url(/images/jacket4rs.png);
}

.items{
    flex-direction: column;
}

.total{
    display: flex;
    justify-content: space-between;
}
.total-line{
    background-image: url(/images/line.png);
    width: 50vw;
    height: 2vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* aspect-ratio: 1; */
}
 

.items-img{
    width: 30vw;
    aspect-ratio: 1;
}

.information-section{
    background-color: var(--third-color);
    width: 45vw;

}

.payment-section{
    background-color: var(--third-color);
    width: 45vw;
}

.information-wrapper h3{
    font-size: var(--fs-m);
}

.method{
    background-color: var(--second-color);
}
.method a{
    text-decoration: none;
    color: black;
}




@media (min-width: 600px){
    .cr-wrapper{
        flex-direction: row;
    }
}


